<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Dono</th>
      <th scope="col">Saldo</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <th scope="row"><%= link_to(store.id, store) %></th>
        <td><%= store.name  %></td>
        <td><%= store.owner %></td>
        <td class="text-<%= store.current_balance.positive? ? 'success' : 'danger'%>"><%= store.current_balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>