<table class="table">
  <thead>
  <tr>
      <th scope="col"><%= @store.name %></th>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">CPF do beneficiário</th>
      <th scope="col">Cartão</th>
      <th scope="col">Descrição</th>
      <th scope="col">Natureza</th>
      <th scope="col">Data</th>
      <th scope="col">Hora</th>
      <th scope="col">Sinal</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
        <% operation_details = UpdateStoreCredits::TransactionOperationConverter.from_type(transaction.transaction_type) %>
      <tr>
        <th scope="row"><%= transaction.id %></th>
        <td><%= transaction.document  %></td>
        <td><%= transaction.card_number  %></td>
        <td><%= operation_details.description %></td>
        <td><%= operation_details.type %></td>
        <td><%= transaction.parsed_date.strftime("%d/%m/%Y") %></td>
        <td><%= transaction.parsed_date.strftime("%H:%M:%S") %></td>
        <td><%= operation_details.operator %></td>
        <td class="text-<%= operation_details.operator == "+" ? 'success' : 'danger'%>"><%= transaction.amount %></td>
      </tr>
    <% end %>
    <tr>
        <th colspan="8">Saldo</th>
        <td class="text-<%= @store.current_balance.positive? ? 'success' : 'danger'%>"><%= @store.current_balance %></td>
      </tr>
  </tbody>
</table>