<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Numero de Transacções</th>
    </tr>
  </thead>
  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <th scope="row"><%= import.id %></th>
        <td><%= import.name  %></td>
        <td><%= import.transactions.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>