
<div class="row">
  <div class="col-4">
  </div>
  <div class="col-4">
    <h1>Importar novo arquivo</h1>
    <%= form_with url: "/imports", local: true  do |f| %>
      <div class="form-group">
        <%= f.file_field :file, class:'form-control-file' %>
        </br>
        </br>
        <%= f.submit "Importar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-4">
  </div>
</div>